    #mapid {
        height: 500px;
        width: 500px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }
    /* Create three equal columns that floats next to each other */
    
    .column {
        float: left;
        width: 50%;
    }
    /* Clear floats after the columns */
    
    .row:after {
        content: "";
        display: table;
        clear: both;
    }
    /* Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (600px wide or less) */
    
    @media screen and (max-width: 600px) {
        .column {
            width: 100%;
        }
    }
    
    h3 {
        color: #098e4c;
        font-family: Arial;
        margin: 0;
        position: relative;
        text-align: center;
        padding: 10px;
    }
    
    h2 {
        color: #098e4c;
        font-family: Arial;
        margin: 0;
        position: relative;
        text-align: center;
        padding: 10px;
    }
    
    h1 {
        color: #098e4c;
        font-family: Arial;
        margin: 0;
        position: relative;
        text-align: center;
        padding: 10px;
    }
    
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 40%;
        padding: 10px;
    }
    
    input[type=text] {
        color: #098e4c;
        font-family: Arial;
        width: 100%;
        padding: 6px 10px;
        margin: 8px 0;
        box-sizing: border-box;
        background-color: white;
        background-position: 5px 5px;
        background-repeat: no-repeat;
        padding-left: 20px;
    }
    
    .button {
        font-family: Arial;
        display: inline-block;
        padding: 10px 20px;
        font-size: 14px;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        outline: none;
        color: #fff;
        background-color: #4CAF50;
        border: none;
        border-radius: 10px;
        box-shadow: 0 9px #999;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 40%;
        padding: 10px;
    }
    
    .button:hover {
        background-color: #3e8e41
    }
    
    .button:active {
        background-color: #3e8e41;
        box-shadow: 0 5px #666;
        transform: translateY(4px);
    }
    
    ul {
        font-family: Arial;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    
    li {
        color: #098e4c;
        font-family: Arial;
        background-color: #8adb8a;
        text-align: center;
        border-radius: 2px;
        list-style-type: none;
        margin: 0;
        padding: 10px 24px;
        -webkit-transition-duration: 0.4s;
        transition-duration: 0.4s;
        cursor: pointer;
    }
    
    li:hover {
        background-color: #4CAF50;
        /* Green */
        color: white;
    }
    
    body {
        background-color: #faff9b;
    }